<meta charset="utf-8">

{% if page.title == "Home" %}
    <title>{{ site.title }}</title>
{% else %}
    <title>{{ page.title }}</title>
{% endif %}

<!-- Primary Meta Tags -->
<meta name="title" content="{{ site.title }}">
<meta name="description" content="{{ site.description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:image" content="{{ site.meta_image }}" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ site.url }}" />
<meta property="twitter:title" content="{{ site.title }}" />
<meta property="twitter:description" content="{{ site.description }}" />
<meta property="twitter:image" content="{{ site.meta_image }}" />

<meta name="robots" content="index, follow">
<meta name="keywords" content="{{ site.keywords }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="/css/font/grotesk.css" rel="stylesheet">

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/content.css">

<link rel="icon" href="/assets/favicon.ico">

<script type="importmap">
{
    "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.173.0/build/three.module.min.js",
        "three/addons/objloader": "https://cdn.jsdelivr.net/npm/three@0.173.0/examples/jsm/loaders/OBJLoader.min.js",
        "rough-notation": "https://unpkg.com/rough-notation?module"
    }
}
</script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="/scripts/nav.js" type="module"></script>